<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dev</key>
	<dict>
		<key>clientID</key>
		<string>ZGFES1NMSERXMjEzMTI</string>
		<key>clientSecret</key>
		<string>ZHNhZHNrYWRzYTIzMjFxcXdlYXNkc3NkYWZrYWJza25ka3NqZGtEQVNEQVNEU0FEU0Fkc2Q</string>
		<key>baseURL</key>
		<string>http://localhost:3000/</string>
	</dict>
	<key>prod</key>
	<dict>
		<key>clientID</key>
		<string>ZGFES1NMSERXMjEzMTI</string>
		<key>clientSecret</key>
		<string>ZHNhZHNrYWRzYTIzMjFxcXdlYXNkc3NkYWZrYWJza25ka3NqZGtEQVNEQVNEU0FEU0Fkc2Q</string>
		<key>baseURL</key>
		<string>http://ec2-34-213-253-218.us-west-2.compute.amazonaws.com:3000</string>
	</dict>
</dict>
</plist>
